<!DOCTYPE html>

<html>

<head>
    <title>Welcome Home</title>
    <meta charset="UTF-8">
    <title></title>
</head>

<body>

    <br><br><br><br><br><br>

    <div class='container container-fluid'>

        <div align='center' class="jumbotron">
            <br><br><br>
            <h1 class="display-3">Welcome Teams!</h1>
            <br>
            <hr class="my-4">
            <br>
            <p class="lead">
                <a class="btn btn-info btn-lg " routerLink="/ng-app/login" role="button"><strong>Are you
                        an Employee ?</strong></a> &nbsp;&nbsp;&nbsp;
                <a class="btn btn-info btn-lg " routerLink="/ng-app/login" role="button"><strong>Are you a
                        Manager ?</strong></a>
            </p>
            <div align='center'>
                <p class='lead'>
                    <a class="btn btn-info btn-lg " routerLink="/ng-app/login" role="button"><strong>Are you an
                            Admin ?</strong></a>
                </p>
            </div>
            <br><br><br>
        </div>

    </div>

    <br><br><br><br><br>

</body>

</html>
